
MessengerAndroid/.idea/gradle.xml
MessengerAndroid/.idea/misc.xml
MessengerAndroid/.idea/modules.xml
MessengerAndroid/.idea/runConfigurations.xml
MessengerAndroid/app/build.gradle
MessengerAndroid/app/proguard-rules.pro
MessengerAndroid/app/src/androidTest/java/com/bignerdranch/android/messengerandroid/ExampleInstrumentedTest.java
MessengerAndroid/app/src/main/AndroidManifest.xml
MessengerAndroid/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
MessengerAndroid/app/src/main/res/drawable/ic_launcher_background.xml
MessengerAndroid/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
MessengerAndroid/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
MessengerAndroid/app/src/main/res/mipmap-hdpi/ic_launcher.png
MessengerAndroid/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
MessengerAndroid/app/src/main/res/mipmap-mdpi/ic_launcher.png
MessengerAndroid/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
MessengerAndroid/app/src/main/res/mipmap-xhdpi/ic_launcher.png
MessengerAndroid/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
MessengerAndroid/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
MessengerAndroid/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
MessengerAndroid/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
MessengerAndroid/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
MessengerAndroid/app/src/test/java/com/bignerdranch/android/messengerandroid/ExampleUnitTest.java
MessengerAndroid/build.gradle
MessengerAndroid/gradle.properties
MessengerAndroid/gradle/wrapper/gradle-wrapper.jar
MessengerAndroid/gradle/wrapper/gradle-wrapper.properties
MessengerAndroid/gradlew
MessengerAndroid/gradlew.bat
